*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow",;
}

.header {
   width: 100%;
   line-height: 100px;
   background-color: #f5ba13;
   display: flex;
   justify-content: start;
   align-items: center;
   padding-left: 50px;
   color: white;
   box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.8);
  }

  .main_note{
    width: 500px;
    padding: 15px 10px 5px 10px;
    margin: 20px auto;

  }

  .footer{
    text-align:center;
    padding-top: 50%;
    
  }
  